// Place all the styles related to the Donors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.donorcontainer
{
	position: relative;

left: 51px;
}

.donorTitle
{
	position: relative;

left: 50px;
}

.homelink
{
	
	position: relative;

left: 50px;

}